<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Rental Endpoints</title>
</head>
<body>
    <div >
        <input type="button" onclick="location.href='http://localhost:8080/get';" value="Get all movies" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/addMovies/movies.json';" value="Movies from json" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/addMovies/movies.yaml';" value="Movies from yaml" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/delete';" value="Delete movies" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/rented';" value="Rented movies" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/available';" value="Available movies" /><br>
        <input type="button" onclick="location.href='http://localhost:8080/statistics';" value="Most popular" /><br>
    </div>
</body>
</html>